/* TODO: Optimize this */
[class*="messagesWrapper"] {
  img,
  video {
   	filter: blur(10px) brightness(0.5); 
  }
}

/* Blur them less so you can tell people apart */
img[class*="avatar_"] {
    filter: blur(6px) brightness(0.5);
}

/* Server sidebar header image */
[class*="sidebar"] {
    img {
        filter: blur(10px) brightness(0.5);
    }
}